extends layout

block content
  h1 Todo List
  hr
  form(method='POST', action='/task-done')
    if todos != (null && "")
      each todo in todos
        input(type='checkbox', name='checked', value=todo._id)
        | #{todo.task} / #{todo.date} / #{todo.done}
        br
      input(type='submit', name='submit')
  h1 Add Todo
  hr
  form(method='POST', action='/task')
    div
      label date
        input(type='date', name='date')
    div
      label todo
        input(type='text', name='task')
    div
      input(type='submit', name='submit')
